:root {
	--body: #fff;
	--left: #121114;
	--right: #121114;
	--text: #fff;
	--high: #6ad4ec;
	--prominent: #27262a;
	--prominent-click: #525059;
	--link: #6ad4ec;
	--link-hover: #6ad4ec;
	--margin: 10px;
}
::-webkit-scrollbar {
	width: 20px;
}
::-webkit-scrollbar-track {
	background-color: var(--left); 
}
::-webkit-scrollbar-thumb {
	background-color: var(--prominent); 
}
html,body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: var(--text);
	background-color: var(--body);
	overflow: auto;
}
section {
	float: left;
	height: 100%;
	overflow: inherit;
}
section * {
	margin: var(--margin);
}
section:first-child {
	width: 30%;
	background-color: var(--left); 
}
section:last-child {
	width: 70%;
	background-color: var(--right); 
}
p {
	display: block;
	clear: both;
}
h1 {
	font-size: 1.1em;
	background-color: var(--prominent);
	border-radius: 5px;
	padding: 5px;
}
h1:hover {
	background-color: var(--prominent-click);
}
ul {
	list-style-type: square;
}
li {
	margin: 0;
	margin-left: -2px;
}
a {
	color: var(--link-hover);
	margin: 0;
	padding: 0;
}
a:hover {
	color: var(--link);
}
small {
	font-size: 0.7em;
}
div.highlight {
	color: var(--high);
	display: inline;
	text-transform: capitalize;
	margin: 0;
	padding: 0;
}
div.text {
	display: block;
	padding-left: 25px;
	line-break: avoid;
}